.item__first--icon::before {
  @include element(60px, 60px);
  top: 50px;
  background-color: $green-basic;
}

.item__first--icon::after {
  @include element(25px, 28px);
  background-image: url("../../icons/stack.svg#item-1");
}

.item__second--icon::before {
  @include element(60px, 60px);
  top: 50px;
  background-color: $green-basic;
}

.item__second--icon::after {
  @include element(28px, 29px);
  background-image: url("../../icons/stack.svg#item-2");
}

.item__third--icon::before {
  @include element(60px, 60px);
  top: 50px;
  background-color: $green-basic;
}

.item__third--icon::after {
  @include element(26px, 30px);
  background-image: url("../../icons/stack.svg#item-3");
}

.item__fourth--icon::before {
  @include element(60px, 60px);
  top: 50px;
  background-color: $green-basic;
}

.item__fourth--icon::after {
  @include element(27px, 31px);
  background-image: url("../../icons/stack.svg#item-4");
}
